{% extends 'base.html' %}

{% block title %} Edit Team Member {% endblock %}

{% block content %}

<div class="container py-5 h-100">
    <div class="w-75 p-3">
        <div class="card-body p-0">
            <h1 style="color:black">Update Team Member</h1>
            <div class='col-md-8'>
                <div class='row g-3'>
                    <div class='col' >
                        <form action="{% url 'edit' myuser.id %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <label style="color:black">{{ field.label_tag }}</label><br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </p>
                            {% endfor %}
                            <a style="text-decoration: none" href="{% url 'team_member_list' %}">
                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Save">
                                <input type="hidden" name="next" value="{{ next }}">
                            </a>
                        </form>
                        {% if request.user.is_staff_admin and myuser.id != request.user.id %}
                        <a style="text-decoration: none" href="{% url 'delete' myuser.id %}">
                            <input class="btn btn-danger btn-lg btn-block" type="delete" value="Delete">
                            <input type="hidden" name="next" value="{{ next }}">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}