{% extends 'base.html' %}
{% block title %} Edit Team Member {% endblock %}
{% block content %}
<div class="float-md-left">
    <div class="fa-1x">
        <a style="text-decoration: none, color:black" href="{% url 'team_member_list' %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
</div>
<form action="{% url 'edit' myuser.id %}" method="post">
    <div style="color:black">
        <h3 class="mb-3 text-center">Update Team Member</h3>
    </div>
    {% csrf_token %}
    {% for field in form %}
    <div class="text-primary">
        <label>{{ field.label_tag }}</label><br>
        {% if field.field.widget.input_type == 'radio' %}
        <div style="color:black">
            {{ field }}
        </div>
        {% else %}
        {{ field }}
        {% endif %}
    </div>
    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <a style="text-decoration: none" href="{% url 'team_member_list' %}">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Save">
        <input type="hidden" name="next" value="{{ next }}">
    </a>
</form>
{% if request.user.is_staff_admin and myuser.id != request.user.id %}
<a style="text-decoration: none" href="{% url 'delete' myuser.id %}">
    <input class="btn btn-danger btn-lg btn-block" type="delete" value="Delete">
    <input type="hidden" name="next" value="{{ next }}">
</a>
{% endif %}
{% endblock %}
{% block custom_javascript %}
<script type="text/javascript">
   $(document).ready(function() {
        $('.readonly label').on('click', function(evt) {
            evt.preventDefault();
        });
   });
</script>
{% endblock %}
