{% extends 'base.html' %}

{% block title %} Team Member List {% endblock %}

{% block content %}


<div class="container py-5 h-100">
    <div class="w-75 p-3">
        <div class="card-body p-0">
            <div class="float-md-right">
                <div class="fa-3x">
                    <a style="text-decoration: none" href="{% url 'register' %}">
                        <i class="fa-light fa-plus "></i>
                    </a>
                </div>
            </div>
            <h1 style="color:black">Team Members</h1>
            <p>You have {{ member_count }} Team Members</p>
            <hr>
            <!-- dynamic -->
            {% for member in all_members %}
            <div class='col-md-8'>
                <div class='row g-3'>
                    <div class='col-xs-3 text-center'>
                        <div class="fa-2x">
                            <i class="far fa-user-circle"></i>
                        </div>
                    </div>
                    <div class='col'>
                            <a href="{% url 'edit' member.id %}">
                                <h4 style="color:black">{{ member.first_name }} {{ member.last_name }} ({{ member.role }})</h4>
                            </a>
                        {% if member.telephone %}
                        <p>{{ member.telephone }}</p>
                        {% else %}
                        <p>No Phone number specified</p>
                        {% endif %}
                        <p>{{ member.email }}</p>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
            <!-- dynamic -->
            {% if user.is_authenticated %}
            <div class="float-md-right">
                <a style="text-decoration: none" href="{% url 'logout' %}">
                    <button class="btn btn-primary">Logout</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

